// CONTACT

.main-contact {
  padding-top:10px;
    margin-top:40px;
  
  margin-bottom:65px;
	@media only screen and (max-width: 479px) {
      text-align: center;
    }

  h3 {
    color: $header-font-color-off;
    font: {
      family: $header-font-family;
      size: $h3-font-size;
      weight: 400;
    }
    letter-spacing: 1px;
    text: {
      align: center;
      transform: uppercase;
    }
}
}

.map {
  background: $primary-color url('../images/photo-contact-map.jpg') center center;
  background-size: cover; 
  -moz-background-size: cover;
  line-height: 10px;
  min-height: 400px;
  text-align: center;
  @media only screen and (max-width: 479px) {
       background-position: 24% center;
    }
  }

  .circle-map {
  background: $fourth-color;
  border-radius: 50%;
  bottom: -150px;
  box-shadow: 2px 2px darken($fourth-color, 10%);
  
  font-size: 15px;
  
  line-height:19px;
  height: 135px;
  margin: 0 auto;
  position: relative;
  width: 135px;

  &:hover{
    background: darken($fourth-color, 10%);
    box-shadow: 2px 2px lighten($fourth-color, 10%);
    cursor: pointer;
  }

   p {
    bottom: 28px;
    color: #fff;
    font-weight: 600;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
  }
}

 .down-circle-hp{
    margin: 0 auto;
    position: relative;
    
  }

