// CONTACT

.main-contact {
  padding-top:10px;
  margin-top:10px;
  margin-bottom:65px;
	text-align: right;
	@media only screen and (max-width: 479px) {
      text-align: center;
    }

  h3 {
    color: $header-font-color-off;
    font: {
      family: $header-font-family;
      size: $h3-font-size;
      weight: 400;
    }
    letter-spacing: 1px;
    text: {
      align: center;
      transform: uppercase;
    }
}
}