//HOMEPAGE STYLES

.main-large {
	background: $primary-color url('../images/hp-main-image-lgr.jpg') center center;
  background-size: cover; 
  -moz-background-size: cover;
  line-height: 10px;
  min-height: 400px;
  text-align: center;
  @media only screen and (max-width: 479px) {
       background-position: 24% center;
    }

h1 {
  color: #fff;
  font: {
    family: $merriweather;
    size: $h1-font-size;
    weight: 700;
  }
  margin-top:90px;
    text-shadow: 3px 3px darken($primary-color, 10%);
    @media only screen and (max-width: 479px) {
      font-size: 53px;
      line-height: 57px;
    }
  }

h2 {
  color: #fff;
  font: {
    family: $raleway;
    size: $h2-font-size;
    weight: 600;
  }
    letter-spacing: 1px;
    margin-bottom: 20px;
    text: {
      shadow: 2px 2px darken($primary-color, 10%);
      transform: uppercase;
      }
       @media only screen and (max-width: 479px) {
      font-size: 28px;
      line-height: 32px;
    }
  }
}

  .down-circle-hp{
    margin: 0 auto;
    position: relative;
    bottom: -40px;
  }


.favorites {
  margin-top:10px;
  margin-bottom:65px;
	text-align: center;

  h3 {
    color: $header-font-color-off;
    font: {
      family: $header-font-family;
      size: $h3-font-size;
      weight: 400;
    }
    letter-spacing: 1px;
    text: {
      align: center;
      transform: uppercase;
    }
} 
}

 .quote {
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    margin-top:35px;
}


// FAVS CASE STUDIES
.feature-block-1{
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;

   img{
    border-radius: $border-radius;
    @media only screen and (max-width: 479px) {
       margin:20px;
    }
  }

  h5{ font-family: $raleway; }

  .top-block {
    position: relative;
    @include transition(0.2s, all, ease-in);
    z-index: 3;

    &:hover{
      opacity: 0;
      z-index: 1;
    }
  }

  .back-block-1 {
    background-color: $secondary-color;
    height: 200px;
    @include skew (7,3);
    position: absolute;
    left: -5px;
    top: 0;
    width: 265px;
    z-index: 2;

    &:hover{
      z-index: 4;
      color: #fff;
    }

    .inner-back-block-1{
      @include skew (-7,-3);
      padding: 30px 20px;

      .btn-transp{
        margin: 5px;
        color: #fff;
        a  {
    color: #fff;
    }
    &:hover{
      color:#fff;
    }
      }
    }
  }
}

.feature-block-2{
  position: relative;
   margin-top: 50px;
  margin-bottom: 50px;
    bottom: 18px;
    @media only screen and (max-width: 479px) {
       bottom:-10px;
    }

    img{
      border-radius: $border-radius;
    @media only screen and (max-width: 479px) {
       margin:0px;
    }
  }

  h5{ font-family: $raleway; }

  .top-block {
    position: relative;
    @include transition(0.2s, all, ease-in);
    z-index: 3;
    bottom: -18px;

    &:hover{
      opacity: 0;
      z-index: 1;
    }
  }

  .back-block-2 {
    background-color: $primary-color;
    bottom: 18px;
    height: 200px;
    @include skew (2,4);
    position: absolute;
    left: -5px;
    top: -5px;
    width: 265px;
    z-index: 2;

    &:hover{
      z-index: 4;
      color: #fff;
    }

    .inner-back-block-2{
      @include skew (-2,-4);
      padding: 30px 20px;

      .btn-transp{
        margin: 5 px;
        color: #fff;
      }
    }
  }
}

.feature-block-3{
  position: relative;
   margin-top: 50px;
  margin-bottom: 50px;
@media only screen and (max-width: 479px) {
       bottom:-50px;
    }

   img{
    border-radius: $border-radius;
    @media only screen and (max-width: 479px) {
       margin:20px;
    }
  }

  h5{ font-family: $raleway; }

  .top-block {
    position: relative;
    @include transition(0.2s, all, ease-in);
    z-index: 3;

    &:hover{
      opacity: 0;
      z-index: 1;
    }
  }

  .back-block-3 {
    background-color: $secondary-color;
    height: 200px;
    @include skew (-7,-3);
    position: absolute;
    right: 7px;
    top: 0;
    width: 265px;
    z-index: 2;

    &:hover{
      z-index: 4;
      color: #fff;
    }

    .inner-back-block-3{
      @include skew (7,3);
      padding: 30px 20px;

      .btn-transp{
        margin: 10px;
        color: #fff;
      }
    }
  }
}

.hp-buttons-dt {
  @media only screen and (max-width: 479px) {
       display: none;
    }
}


  .body-white {
    color:#fff;
    font-weight: 500;
    line-height: 18px;
}

.testimonials {
	background: lighten($secondary-color, 10%);
  padding: 0px 0 120px 0;
	text-align: center;
  @media only screen and (max-width: 479px) {
       display: none;
    }
    
}
