//HOMEPAGE STYLES

.main-large {
	background: $primary-color url('../images/hp-main-image-lgr.jpg') center center;
  background-size: cover; 
  -moz-background-size: cover;
  line-height: 10px;
  min-height: 700px;
  text-align: center;
  @media only screen and (max-width: 479px) {
       background-position: 24% center;
    }

h1 {
  color: #fff;
  font: {
    family: $merriweather;
    size: $h1-font-size;
    weight: 700;
  }
  margin-top:90px;
    text-shadow: 3px 3px darken($primary-color, 10%);
    @media only screen and (max-width: 479px) {
      font-size: 53px;
      line-height: 57px;
    }
  }

h2 {
  color: #fff;
  font: {
    family: $raleway;
    size: $h2-font-size;
    weight: 600;
  }
    letter-spacing: 1px;
    margin-bottom: 20px;
    text: {
      shadow: 2px 2px darken($primary-color, 10%);
      transform: uppercase;
      }
       @media only screen and (max-width: 479px) {
      font-size: 28px;
      line-height: 32px;
    }
  }
}

  .down-circle-hp{
    margin: 0 auto;
    position: relative;
    bottom: -40px;
  }


.favorites {
  margin-top:10px;
  margin-bottom:65px;
	text-align: center;

  h3 {
    color: $header-font-color-off;
    font: {
      family: $header-font-family;
      size: $h3-font-size;
      weight: 400;
    }
    letter-spacing: 1px;
    text: {
      align: center;
      transform: uppercase;
    }
} 
}

 .quote {
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    margin-top:35px;
}

.feature-block{
  position: relative;
  margin-bottom: 50px;

  
 
  h5{ font-family: $raleway; }

  img{
    position: relative;
    @include transition(0.2s, all, ease-in);
    z-index: 3;
    @media only screen and (max-width: 479px) {
       margin:30px;
    }

    &:hover{ 
      opacity: 0; 
      z-index: -1;
    }
  }

  .inner-block{
    padding: 1.7em;
  }

  .feature-1 {
    background-color: $secondary-color;
    height: 200px;
    @include skew (7,3);
    position: absolute;
    left: -5px;
    width: 265px;
    z-index: 1;
  }

    .inner-block-1 {
    padding: 1.7em;
    @include skew (-7,-3);
    position: absolute;
  }

  .feature-2 {
   background-color: $primary-color;
    height: 200px;
    left: 2px;
    bottom: 1px;
    @media only screen and (max-width: 479px) {
       bottom:37px;
    }
    @include skew (2, 4);
    position: absolute;
    width: 265px;
    z-index: 2;
  }

    .inner-block-2 {
    padding: 1.7em;
    @include skew (-2,-4);
    position: absolute;
  }

  .feature-3 {
   background-color: $secondary-color;
    height: 200px;
    right: -7px;
    @include skew (-7, -3);
    position: absolute;
    width: 265px;
    z-index: -1;
  }
}

    .inner-block-3 {
      padding: 1.7em;
      @include skew (7,3);
      position: absolute;
    }

  .body-white {
    color:#fff;
    font-weight: 500;
}

.testimonials {
	background: lighten($secondary-color, 10%);
  padding: 0px 0 120px 0;
	text-align: center;
  @media only screen and (max-width: 479px) {
       display: none;
    }
    
}


