@import url("http://fonts.googleapis.com/css?family=Raleway:400,700,600,500|Merriweather:400,700,400italic,700italic");
/* line 17, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/_global.scss */
body, p {
  color: #777777;
  font-family: "Raleway", sans-serif, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* line 29, ../sass/_global.scss */
.logo {
  float: left;
  margin: 20px 0 90px 10px;
}
@media only screen and (max-width: 479px) {
  /* line 29, ../sass/_global.scss */
  .logo {
    margin: 30px 0 10px 0;
  }
}

/* line 38, ../sass/_global.scss */
.main-nav {
  margin: -10px;
}

/* line 42, ../sass/_global.scss */
.main-nav ul {
  float: right;
  margin-top: 85px;
}
/* line 45, ../sass/_global.scss */
.main-nav ul li {
  display: inline;
  padding: 50px 0px 0px 30px;
}
/* line 48, ../sass/_global.scss */
.main-nav ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
/* line 53, ../sass/_global.scss */
.main-nav ul li a:hover {
  color: #f6ca68;
  text-decoration: none;
}

/* line 63, ../sass/_global.scss */
.contact {
  background: #ddd;
  margin: -10px;
}

/* line 68, ../sass/_global.scss */
.contact ul {
  float: right;
  font-weight: 500;
  margin: 15px 0 20px 0;
}
/* line 72, ../sass/_global.scss */
.contact ul li {
  display: inline;
  padding: 0 20px;
}
/* line 75, ../sass/_global.scss */
.contact ul li a {
  color: #777;
  font-size: 14px;
  text-decoration: none;
}
/* line 79, ../sass/_global.scss */
.contact ul li a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 88, ../sass/_global.scss */
.social {
  background: #02b2b0;
  width: 100%;
}

/* line 93, ../sass/_global.scss */
.social ul {
  float: left;
  margin: 30px 0;
}
/* line 96, ../sass/_global.scss */
.social ul li {
  display: inline;
  padding: 0px 5px;
}

/* line 103, ../sass/_global.scss */
.twitter:hover, .linkedin:hover,
.github:hover, .dribbble:hover {
  opacity: 0.5;
}

/* line 109, ../sass/_global.scss */
.btn {
  background-color: #f76b47;
  background: none;
  border: none;
  color: #f6ca68;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway", sans-serif, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 30px;
  outline: none;
  padding: 10px 15px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 132, ../sass/_global.scss */
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 141, ../sass/_global.scss */
.btn:before {
  line-height: 1;
  position: relative;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 150, ../sass/_global.scss */
.btn-8 {
  background: #f76b47;
  display: block;
  outline: 0px solid #f76b47;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 159, ../sass/_global.scss */
.btn-8:active {
  background: #f76b47;
}

/* line 164, ../sass/_global.scss */
.btn-8a:after {
  background: #f54416;
  height: 42%;
  left: 0;
  top: -40%;
  transform-origin: 0% 100%;
  transform: rotateX(90deg);
  width: 100%;
  -webkit-transform-origin: 0% 100%;
  -webkit-transform: rotateX(90deg);
  -moz-transform-origin: 0% 100%;
  -moz-transform: rotateX(90deg);
}

/* line 178, ../sass/_global.scss */
.btn-8a:hover {
  transform: rotateX(-15deg);
  -webkit-transform: rotateX(-15deg);
  -moz-transform: rotateX(-15deg);
  -ms-transform: rotateX(-15deg);
}

/* line 186, ../sass/_global.scss */
.btn-8b:after {
  background: #f54416;
  height: 40%;
  left: 0;
  top: 100%;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  width: 100%;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform: rotateX(-90deg);
  -ms-transform-origin: 0% 0%;
  -ms-transform: rotateX(-90deg);
}

/* line 202, ../sass/_global.scss */
.btn-8b:hover {
  transform: rotateX(15deg);
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
}

/* line 210, ../sass/_global.scss */
.btn-8c:after {
  background: #f54416;
  height: 100%;
  left: -20%;
  top: 0;
  width: 21%;
  -webkit-transform-origin: 100% 0%;
  -webkit-transform: rotateY(-90deg);
  -moz-transform-origin: 100% 0%;
  -moz-transform: rotateY(-90deg);
  -ms-transform-origin: 100% 0%;
  -ms-transform: rotateY(-90deg);
  transform-origin: 100% 0%;
  transform: rotateY(-90deg);
}

/* line 226, ../sass/_global.scss */
.btn-8c:hover {
  -webkit-transform: rotateY(20deg);
  -moz-transform: rotateY(20deg);
  -ms-transform: rotateY(20deg);
  transform: rotateY(20deg);
}

/* line 234, ../sass/_global.scss */
.btn-8d:after {
  background: #f54416;
  height: 100%;
  left: 100%;
  top: 0;
  width: 20%;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateY(90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform: rotateY(90deg);
  -ms-transform-origin: 0% 0%;
  -ms-transform: rotateY(90deg);
  transform-origin: 0% 0%;
  transform: rotateY(90deg);
}

/* line 250, ../sass/_global.scss */
.btn-8d:hover {
  -webkit-transform: rotateY(-20deg);
  -moz-transform: rotateY(-20deg);
  -ms-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}

/* line 258, ../sass/_global.scss */
.color-bar {
  background: url("../images/color-bar.png");
  background-repeat: repeat-x;
  margin: -10px -10px 50px -10px;
}

/* line 264, ../sass/_global.scss */
.down-circle {
  background: #f6ca68;
  border-radius: 50%;
  box-shadow: 2px 2px #f3b938;
  height: 75px;
  position: relative;
  width: 75px;
}
/* line 272, ../sass/_global.scss */
.down-circle:hover {
  background: #f3b938;
  box-shadow: 2px 2px #f9db98;
  cursor: pointer;
}
/* line 278, ../sass/_global.scss */
.down-circle img {
  bottom: 24px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

/* line 287, ../sass/_global.scss */
.right {
  float: right;
}

/* line 291, ../sass/_global.scss */
.left {
  float: left;
}

/* line 295, ../sass/_global.scss */
.center {
  left: 0;
  right: 0;
}

@media only screen and (max-width: 479px) {
  /* line 308, ../sass/_global.scss */
  .logo img {
    margin: 20px 0 10px 0;
  }

  /* line 312, ../sass/_global.scss */
  .main-nav ul {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* line 315, ../sass/_global.scss */
  .main-nav ul li {
    display: inline;
    padding: 0px 0px 0px 30px;
  }
  /* line 318, ../sass/_global.scss */
  .main-nav ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }
  /* line 322, ../sass/_global.scss */
  .main-nav ul li a:hover {
    color: #f6ca68;
    text-decoration: none;
  }

  /* line 332, ../sass/_global.scss */
  .contact ul {
    margin: 20px;
  }
  /* line 334, ../sass/_global.scss */
  .contact ul li {
    display: block;
    text-align: center;
  }

  /* line 341, ../sass/_global.scss */
  .social ul li {
    display: inline;
    padding: 0px 10px;
  }
}
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
/* line 27, ../sass/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 34, ../sass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 36, ../sass/_base.scss */
body {
  line-height: 1;
}

/* line 38, ../sass/_base.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../sass/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../sass/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Basic Styles
================================================== */
/* line 53, ../sass/_base.scss */
body {
  background: #fff;
  font: 14px/21px "Raleway", sans-serif, Helvetica, Arial, sans-serif;
  color: #777777;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
/* line 64, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #777;
  font-family: "Merriweather", serif, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* line 68, ../sass/_base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 69, ../sass/_base.scss */
h1 {
  font-size: 68px;
  line-height: 58px;
  margin-bottom: 14px;
}

/* line 70, ../sass/_base.scss */
h2 {
  font-size: 33px;
  line-height: 40px;
  margin-bottom: 20px;
}

/* line 71, ../sass/_base.scss */
h3 {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 8px;
}

/* line 72, ../sass/_base.scss */
h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 4px;
}

/* line 73, ../sass/_base.scss */
h5 {
  font-size: 17px;
  line-height: 24px;
}

/* line 74, ../sass/_base.scss */
h6 {
  font-size: 14px;
  line-height: 21px;
}

/* line 75, ../sass/_base.scss */
.subheader {
  color: #777;
}

/* line 77, ../sass/_base.scss */
p {
  margin: 0 0 20px 0;
}

/* line 78, ../sass/_base.scss */
p img {
  margin: 0;
}

/* line 79, ../sass/_base.scss */
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

/* line 81, ../sass/_base.scss */
em {
  font-style: italic;
}

/* line 82, ../sass/_base.scss */
strong {
  font-weight: bold;
  color: #777;
}

/* line 83, ../sass/_base.scss */
small {
  font-size: 80%;
}

/*	Blockquotes  */
/* line 86, ../sass/_base.scss */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

/* line 87, ../sass/_base.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 88, ../sass/_base.scss */
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

/* line 89, ../sass/_base.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 90, ../sass/_base.scss */
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

/* line 92, ../sass/_base.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Links
================================================== */
/* line 97, ../sass/_base.scss */
a, a:visited {
  color: #f6ca68;
  text-decoration: none;
  outline: 0;
}

/* line 98, ../sass/_base.scss */
a:hover, a:focus {
  color: #f6ca68;
}

/* line 99, ../sass/_base.scss */
p a, p a:visited {
  line-height: inherit;
}

/* #Lists
================================================== */
/* line 104, ../sass/_base.scss */
ul, ol {
  margin-bottom: 20px;
}

/* line 105, ../sass/_base.scss */
ul {
  list-style: none outside;
}

/* line 106, ../sass/_base.scss */
ol {
  list-style: decimal;
}

/* line 107, ../sass/_base.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 108, ../sass/_base.scss */
ul.square {
  list-style: square outside;
}

/* line 109, ../sass/_base.scss */
ul.circle {
  list-style: circle outside;
}

/* line 110, ../sass/_base.scss */
ul.disc {
  list-style: disc outside;
}

/* line 112, ../sass/_base.scss */
ul ul, ul ol,
ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

/* line 114, ../sass/_base.scss */
ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px;
}

/* line 115, ../sass/_base.scss */
li {
  line-height: 18px;
  margin-bottom: 12px;
}

/* line 116, ../sass/_base.scss */
ul.large li {
  line-height: 21px;
}

/* line 117, ../sass/_base.scss */
li p {
  line-height: 21px;
}

/* #Images
================================================== */
/* line 122, ../sass/_base.scss */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* #Buttons
================================================== */
	/*.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; 
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); 
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); 
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); 
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); 
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); 
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); 
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd; 
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); 
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); 
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); 
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); 
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); 
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); 
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; 
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); 
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4)));
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); 
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); 
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);  }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	} */
/* #Forms
================================================== */
/* line 211, ../sass/_base.scss */
form {
  margin-bottom: 20px;
}

/* line 213, ../sass/_base.scss */
fieldset {
  margin-bottom: 20px;
}

/* line 219, ../sass/_base.scss */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
}

/* line 234, ../sass/_base.scss */
select {
  padding: 0;
}

/* line 239, ../sass/_base.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* line 245, ../sass/_base.scss */
textarea {
  min-height: 60px;
}

/* line 248, ../sass/_base.scss */
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

/* line 252, ../sass/_base.scss */
select {
  width: 220px;
}

/* line 254, ../sass/_base.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 257, ../sass/_base.scss */
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}

/* #Misc
================================================== */
/* line 264, ../sass/_base.scss */
.remove-bottom {
  margin-bottom: 0 !important;
}

/* line 265, ../sass/_base.scss */
.half-bottom {
  margin-bottom: 10px !important;
}

/* line 266, ../sass/_base.scss */
.add-bottom {
  margin-bottom: 20px !important;
}

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
/* line 24, ../sass/_skeleton.scss */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

/* line 26, ../sass/_skeleton.scss */
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 27, ../sass/_skeleton.scss */
.row {
  margin-bottom: 20px;
}

/* Nested Column Classes */
/* line 30, ../sass/_skeleton.scss */
.column.alpha, .columns.alpha {
  margin-left: 0;
}

/* line 31, ../sass/_skeleton.scss */
.column.omega, .columns.omega {
  margin-right: 0;
}

/* Base Grid */
/* line 35, ../sass/_skeleton.scss */
.container .one.column,
.container .one.columns {
  width: 40px;
}

/* line 36, ../sass/_skeleton.scss */
.container .two.columns {
  width: 100px;
}

/* line 37, ../sass/_skeleton.scss */
.container .three.columns {
  width: 160px;
}

/* line 38, ../sass/_skeleton.scss */
.container .four.columns {
  width: 220px;
}

/* line 39, ../sass/_skeleton.scss */
.container .five.columns {
  width: 280px;
}

/* line 40, ../sass/_skeleton.scss */
.container .six.columns {
  width: 340px;
}

/* line 41, ../sass/_skeleton.scss */
.container .seven.columns {
  width: 400px;
}

/* line 42, ../sass/_skeleton.scss */
.container .eight.columns {
  width: 460px;
}

/* line 43, ../sass/_skeleton.scss */
.container .nine.columns {
  width: 520px;
}

/* line 44, ../sass/_skeleton.scss */
.container .ten.columns {
  width: 580px;
}

/* line 45, ../sass/_skeleton.scss */
.container .eleven.columns {
  width: 640px;
}

/* line 46, ../sass/_skeleton.scss */
.container .twelve.columns {
  width: 700px;
}

/* line 47, ../sass/_skeleton.scss */
.container .thirteen.columns {
  width: 760px;
}

/* line 48, ../sass/_skeleton.scss */
.container .fourteen.columns {
  width: 820px;
}

/* line 49, ../sass/_skeleton.scss */
.container .fifteen.columns {
  width: 880px;
}

/* line 50, ../sass/_skeleton.scss */
.container .sixteen.columns {
  width: 940px;
}

/* line 52, ../sass/_skeleton.scss */
.container .one-third.column {
  width: 300px;
}

/* line 53, ../sass/_skeleton.scss */
.container .two-thirds.column {
  width: 620px;
}

/* Offsets */
/* line 56, ../sass/_skeleton.scss */
.container .offset-by-one {
  padding-left: 60px;
}

/* line 57, ../sass/_skeleton.scss */
.container .offset-by-two {
  padding-left: 120px;
}

/* line 58, ../sass/_skeleton.scss */
.container .offset-by-three {
  padding-left: 180px;
}

/* line 59, ../sass/_skeleton.scss */
.container .offset-by-four {
  padding-left: 240px;
}

/* line 60, ../sass/_skeleton.scss */
.container .offset-by-five {
  padding-left: 300px;
}

/* line 61, ../sass/_skeleton.scss */
.container .offset-by-six {
  padding-left: 360px;
}

/* line 62, ../sass/_skeleton.scss */
.container .offset-by-seven {
  padding-left: 420px;
}

/* line 63, ../sass/_skeleton.scss */
.container .offset-by-eight {
  padding-left: 480px;
}

/* line 64, ../sass/_skeleton.scss */
.container .offset-by-nine {
  padding-left: 540px;
}

/* line 65, ../sass/_skeleton.scss */
.container .offset-by-ten {
  padding-left: 600px;
}

/* line 66, ../sass/_skeleton.scss */
.container .offset-by-eleven {
  padding-left: 660px;
}

/* line 67, ../sass/_skeleton.scss */
.container .offset-by-twelve {
  padding-left: 720px;
}

/* line 68, ../sass/_skeleton.scss */
.container .offset-by-thirteen {
  padding-left: 780px;
}

/* line 69, ../sass/_skeleton.scss */
.container .offset-by-fourteen {
  padding-left: 840px;
}

/* line 70, ../sass/_skeleton.scss */
.container .offset-by-fifteen {
  padding-left: 900px;
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 80, ../sass/_skeleton.scss */
  .container {
    width: 768px;
  }

  /* line 82, ../sass/_skeleton.scss */
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 83, ../sass/_skeleton.scss */
  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }

  /* line 84, ../sass/_skeleton.scss */
  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }

  /* line 85, ../sass/_skeleton.scss */
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 88, ../sass/_skeleton.scss */
  .container .one.column,
  .container .one.columns {
    width: 28px;
  }

  /* line 89, ../sass/_skeleton.scss */
  .container .two.columns {
    width: 76px;
  }

  /* line 90, ../sass/_skeleton.scss */
  .container .three.columns {
    width: 124px;
  }

  /* line 91, ../sass/_skeleton.scss */
  .container .four.columns {
    width: 172px;
  }

  /* line 92, ../sass/_skeleton.scss */
  .container .five.columns {
    width: 220px;
  }

  /* line 93, ../sass/_skeleton.scss */
  .container .six.columns {
    width: 268px;
  }

  /* line 94, ../sass/_skeleton.scss */
  .container .seven.columns {
    width: 316px;
  }

  /* line 95, ../sass/_skeleton.scss */
  .container .eight.columns {
    width: 364px;
  }

  /* line 96, ../sass/_skeleton.scss */
  .container .nine.columns {
    width: 412px;
  }

  /* line 97, ../sass/_skeleton.scss */
  .container .ten.columns {
    width: 460px;
  }

  /* line 98, ../sass/_skeleton.scss */
  .container .eleven.columns {
    width: 508px;
  }

  /* line 99, ../sass/_skeleton.scss */
  .container .twelve.columns {
    width: 556px;
  }

  /* line 100, ../sass/_skeleton.scss */
  .container .thirteen.columns {
    width: 604px;
  }

  /* line 101, ../sass/_skeleton.scss */
  .container .fourteen.columns {
    width: 652px;
  }

  /* line 102, ../sass/_skeleton.scss */
  .container .fifteen.columns {
    width: 700px;
  }

  /* line 103, ../sass/_skeleton.scss */
  .container .sixteen.columns {
    width: 748px;
  }

  /* line 105, ../sass/_skeleton.scss */
  .container .one-third.column {
    width: 236px;
  }

  /* line 106, ../sass/_skeleton.scss */
  .container .two-thirds.column {
    width: 492px;
  }

  /* Offsets */
  /* line 109, ../sass/_skeleton.scss */
  .container .offset-by-one {
    padding-left: 48px;
  }

  /* line 110, ../sass/_skeleton.scss */
  .container .offset-by-two {
    padding-left: 96px;
  }

  /* line 111, ../sass/_skeleton.scss */
  .container .offset-by-three {
    padding-left: 144px;
  }

  /* line 112, ../sass/_skeleton.scss */
  .container .offset-by-four {
    padding-left: 192px;
  }

  /* line 113, ../sass/_skeleton.scss */
  .container .offset-by-five {
    padding-left: 240px;
  }

  /* line 114, ../sass/_skeleton.scss */
  .container .offset-by-six {
    padding-left: 288px;
  }

  /* line 115, ../sass/_skeleton.scss */
  .container .offset-by-seven {
    padding-left: 336px;
  }

  /* line 116, ../sass/_skeleton.scss */
  .container .offset-by-eight {
    padding-left: 384px;
  }

  /* line 117, ../sass/_skeleton.scss */
  .container .offset-by-nine {
    padding-left: 432px;
  }

  /* line 118, ../sass/_skeleton.scss */
  .container .offset-by-ten {
    padding-left: 480px;
  }

  /* line 119, ../sass/_skeleton.scss */
  .container .offset-by-eleven {
    padding-left: 528px;
  }

  /* line 120, ../sass/_skeleton.scss */
  .container .offset-by-twelve {
    padding-left: 576px;
  }

  /* line 121, ../sass/_skeleton.scss */
  .container .offset-by-thirteen {
    padding-left: 624px;
  }

  /* line 122, ../sass/_skeleton.scss */
  .container .offset-by-fourteen {
    padding-left: 672px;
  }

  /* line 123, ../sass/_skeleton.scss */
  .container .offset-by-fifteen {
    padding-left: 720px;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* line 133, ../sass/_skeleton.scss */
  .container {
    width: 300px;
  }

  /* line 135, ../sass/_skeleton.scss */
  .container .columns,
  .container .column {
    margin: 0;
  }

  /* line 155, ../sass/_skeleton.scss */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 300px;
  }

  /* Offsets */
  /* line 172, ../sass/_skeleton.scss */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 183, ../sass/_skeleton.scss */
  .container {
    width: 420px;
  }

  /* line 185, ../sass/_skeleton.scss */
  .container .columns,
  .container .column {
    margin: 0;
  }

  /* line 205, ../sass/_skeleton.scss */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px;
  }
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* line 213, ../sass/_skeleton.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 220, ../sass/_skeleton.scss */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 228, ../sass/_skeleton.scss */
.row:after,
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_skeleton.scss */
.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
/* line 235, ../sass/_skeleton.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 3, ../sass/_hp-content.scss */
.main-large {
  background: #02b2b0 url("../images/hp-main-image-lgr.jpg") center center;
  background-size: cover;
  -moz-background-size: cover;
  line-height: 10px;
  min-height: 700px;
  text-align: center;
}
/* line 11, ../sass/_hp-content.scss */
.main-large h1 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 68px;
  font-weight: 700;
  text-shadow: 3px 3px #01807e;
}
@media only screen and (max-width: 479px) {
  /* line 11, ../sass/_hp-content.scss */
  .main-large h1 {
    font-size: 53px;
    line-height: 55px;
  }
}
/* line 25, ../sass/_hp-content.scss */
.main-large h2 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #01807e;
  text-transform: uppercase;
}
@media only screen and (max-width: 479px) {
  /* line 25, ../sass/_hp-content.scss */
  .main-large h2 {
    font-size: 28px;
    line-height: 32px;
  }
}

/* line 45, ../sass/_hp-content.scss */
.down-circle {
  margin: 0 auto;
}

/* line 50, ../sass/_hp-content.scss */
.favorites {
  margin-top: 10px;
  margin-bottom: 65px;
  text-align: center;
}
/* line 55, ../sass/_hp-content.scss */
.favorites h3 {
  color: #777777;
  font-family: "Merriweather", serif, Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

/* line 72, ../sass/_hp-content.scss */
.quote {
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
}

/* line 78, ../sass/_hp-content.scss */
.feature-block {
  position: relative;
}
/* line 92, ../sass/_hp-content.scss */
.feature-block .feature-1 {
  background-color: #f6ca68;
  height: 200px;
  -moz-transform: skew(7deg, 3deg);
  -o-transform: skew(7deg, 3deg);
  -ms-transform: skew(7deg, 3deg);
  -webkit-transform: skew(7deg, 3deg);
  transform: skew(7deg, 3deg);
  position: absolute;
  left: -5px;
  width: 265px;
  z-index: -1;
}
/* line 101, ../sass/_hp-content.scss */
.feature-block .feature-1:hover > a img {
  display: none;
}
/* line 107, ../sass/_hp-content.scss */
.feature-block .feature-2 {
  background-color: #02b2b0;
  height: 200px;
  left: 2px;
  bottom: 1px;
  -moz-transform: skew(2deg, 4deg);
  -o-transform: skew(2deg, 4deg);
  -ms-transform: skew(2deg, 4deg);
  -webkit-transform: skew(2deg, 4deg);
  transform: skew(2deg, 4deg);
  position: absolute;
  width: 265px;
  z-index: -1;
}
/* line 116, ../sass/_hp-content.scss */
.feature-block .feature-2:hover > a img {
  display: none;
}
/* line 121, ../sass/_hp-content.scss */
.feature-block .feature-3 {
  background-color: #f6ca68;
  height: 200px;
  right: -7px;
  -moz-transform: skew(-7deg, -3deg);
  -o-transform: skew(-7deg, -3deg);
  -ms-transform: skew(-7deg, -3deg);
  -webkit-transform: skew(-7deg, -3deg);
  transform: skew(-7deg, -3deg);
  position: absolute;
  width: 265px;
  z-index: -1;
}

/* line 132, ../sass/_hp-content.scss */
.testimonials {
  background: #f9db98;
  padding: 0 0 60px 0;
  text-align: center;
}

@media only screen and (max-width: 479px) {
  /* line 145, ../sass/_hp-content.scss */
  .main-large {
    background-position: 24% center;
  }
}
